<footer class="site-footer h-card">
    <data class="u-url" href="{{ "/" | relative_url }}"></data>
  
    <div class="wrapper">
      <div class="site-footer-inner">
          {%- assign currentYear = 'now' | date: "%Y" -%}
          {%- assign copyright = site.copyright
              | replace: '{currentYear}', currentYear
              | replace: '{author}', site.author
              | replace: '(c)', '&copy;'
              | replace: '(p)', '℗'
              | replace: '(cleft)', '<span class="copyleft">&copy;</span>'
          -%}
        {%- if site.linkedin_url -%}
        <div class="footer-social">
          <a href="{{ site.linkedin_url }}" target="_blank" rel="noopener">
            <i class="fa fa-linkedin-square" aria-hidden="true"></i> Follow TCRS on LinkedIn
          </a>
        </div>
        {%- endif -%}
        <div>{{ copyright }}</div>
      </div>
    </div>
  </footer>
